/*-------------------------------------------------------------
                    GLOBAL STYLES
---------------------------------------------------------------*/

body,html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body {
	position: relative;
	width: 100%;
	overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

a {
	color: #27ae60;
}

.no-padding {
	padding: 0 !important;
}

.space10 {
	margin-bottom: 10px;
}

.space15 {
	margin-bottom: 15px;
}

.space20 {
	margin-bottom: 20px;
}

.space25 {
	margin-bottom: 25px;
}

.space30 {
	margin-bottom: 30px;
}

.space35 {
	margin-bottom: 35px;
}

.space40 {
	margin-bottom: 40px;
}

.space50 {
	margin-bottom: 50px;
}

.space60 {
	margin-bottom: 60px;
}

.space70 {
	margin-bottom: 70px;
}

.space80 {
	margin-bottom: 80px;
}

.space90 {
	margin-bottom: 90px;
}

.space100 {
	margin-bottom: 100px;
}

/*-------------------------------------------------------------
                    HEADER STYLES
---------------------------------------------------------------*/

header {}

.navbar-default {
	background: #f8bc3b;
	border: none;
	margin: 0%;
	padding: 50px 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.navbar-brand {
	color: #393f4a !important;
	margin: 0;
	font-size: 42px;
	font-family: Pacifico;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav > li > a {
	color: #393f4a;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 5px;
	font-weight: 700;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background: #eee;
    border-radius: 5px;
}

.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 20px;
}

.navbar-collapse {
	border-top: none;
	box-shadow: none;
}

.topnav-pages {
	background: #fff;
}

.btn-dark {
	width: 140px;
	line-height: 28px !important;
	text-align: center;
	font-size: 15px;
	color: #fff !important;
	text-align: center;
	border-radius: 5px;
	background: #3a3a3a !important;
	border: 2px solid #3a3a3a;
	display: table;
	text-transform: uppercase;
	float: right;
	font-weight: 700;
	top: -4px;
	margin-left: 30px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-dark:hover {
	color: #3a3a3a !important;
	background: transparent !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-lite {
	width: 160px;
	line-height: 50px;
	text-align: center;
	font-size: 15px;
	color: #393f4a;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #fff;
	background: #fff;
	display: table;
	text-transform: uppercase;
	margin: 65px auto 0;
	font-weight: 700;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-lite:hover {
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-lite1 {
	width: 160px;
	line-height: 50px;
	text-align: center;
	font-size: 15px;
	color: #3a3a3a;
	border: 2px solid #3a3a3a;
	text-align: center;
	border-radius: 5px;
	background: #fff;
	display: table;
	text-transform: uppercase;
	margin: 40px auto 100px;
	font-weight: 700;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-lite1:hover {
	color: #27ae60;
	border: 2px solid #27ae60;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


/* banner1 */
.banner1 {
	background:#f8bc3b;
	height: 650px;
}

.banner1 p {
	text-align: center;
	margin-top: 90px;
}

.banner1 p img {
	width: 100%;
}
.banner1 h2 {
	color: #fff;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 70px;
	margin-top: 140px;
	line-height: 58px;
}

/*feature*/

.features {
	height: 410px;
	background: white;
}

.features h3 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 24px;
}

.features p {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.features img {
	display: block;
	margin: 100px auto 0;
}


/* footer */

footer {
	background: #3a3a3a;
}